<div class="team team__backdrop is-hidden">
  <div class="team__wrapper">
    <button class="team__modal-close-btn" type="button">
      <svg class="team__modal-close-icon" width="20" height="20">
        <use href="./sprite.svg#icon-cross-closed"></use>
      </svg>
    </button>
    <h2 class="team__title">TEAM</h2>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/team/yevheniia.png"
            srcset="./img/team/yevheniia@2x.jpg 2x"
            alt="Yevhenii Tobolovska"
          />
        </div>
        <div class="team__box">
          <h2 class="team__member">Yevhenii Tobolovska</h2>
          <p class="team__role">Full Stack Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/yevheniia-tobolovska/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/tobolovskaya"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./sprite.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
